{% layout "layout.liquid" %} {% block content %}
<div class = "edit">
  <form action="/contacts/{{contact._id}}?_method=PUT" method="post">
    <fieldset>
      <legend>Edit {{contact.name}}</legend>
      <label>
        NAME:<input
          type="text"
          name="name"
          placeholder="enter contact name"
          value="{{contact.name}}"
        />
      </label>
      <label>
        NUMBER:<input
          type="text"
          name="number"
          placeholder="enter contact number"
          value="{{contact.number}}"
        />
      </label>
      <label>
        EMAIL:<input
          type="text"
          name="email"
          placeholder="enter contact email"
          value="{{contact.email}}"
        />
      </label>
      <label>
        WEBPAGE:<input
          type="text"
          name="webpage"
          placeholder="enter contact webpage"
          value="{{contact.webpage}}"
        />
      </label>
      <label>
        ADDRESS:<input
          type="text"
          name="address"
          placeholder="enter contact address"
          value="{{contact.address}}"
        />
      </label>
    </fieldset>
    <input type="submit" value="Edit {{contact.name}}" />
  </form>
</div>
{% endblock %}